.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    background-color: aqua;
    width: 150px;
    margin-right: 70px;
}
.middle-section{
    background-color: aquamarine;
    flex: 1;
    max-width: 500px;
}
.right-section{
    background-color: bisque;
    width: 200px;
    margin-left:35px ;
}