.header{
    display:flex;
    flex-direction: row;
    height: 55px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 100px;
    
}
.left-section-header{
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: row;
   
}
.facebook-logo{
    height: 40px;
    width: 40px;
    cursor: pointer;
    
}
.search{
    --padding:14px;
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
    border-radius: 20px;
    background-color: #f6f6f6;
    margin-left: 10px;
    transition: 0.25s;

}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.search-input{
    font-size: 16px;
    color: #333333;
    margin-left: 12px;
    border: none;
    outline: none;
    background: transparent;

}

.search-input::placeholder,
.search-icon{
    color: rgba(0 ,0 ,0 ,0.5);
}


.middle-section-header{
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: space-between;
    padding: 0px 28px 0px 20px;
    max-width: 500px;
}
.home-icon-container,
.marketplace-icon-container,
.video-icon-container,
.game-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    
}

.game-icon,
.marketplace-icon,
.video-icon,
.home-icon{
    height: 25px;
    width: 25px;
}


.middle-button{
    border: none;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    height: 55px;
    width: 112px;
    
}
.middle-button:hover{
    background-color: #e2e0e0;
}

.right-section-header{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: end;
    padding: 0px 16px 0px 4px;


}
.menu-icon-container,
.messenger-icon-container,
.notification-icon-container,
.profile-picture{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: relative;
    margin-left: 10px;
}

.menu-icon,
.notification-icon,
.messenger-icon,
.home-icon,
.profile-picture{
    height: 20px;
    width: 20px;
}

.right-button,
.profile-picture{
    border: none;
    border-radius: 20px;
    background-color: rgb(228, 230, 235);
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding-top: 4px;
}
.profile-picture{
    object-fit:cover;
}
.right-button:hover{
    background-color:#e2e0e0 ;
}